.c-pointer{
    cursor: pointer;
}

.div-students-create-group{
    border: 1px solid silver;
    border-radius: 5px;
}

.header-students-create-group{
    text-align: center;
    padding: 10px;
}

.list-students-create-group{
    list-style: none;
    margin: 10px 0;
    padding: 0
}

.item-list-students-create-group{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.item-list-students-create-group:hover{
    background: #447efe7a;
    border-radius: 5px;
}

.notice-autowrite-material{
    width: 250px;
    font-size: .8em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    background: white;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 80px;
}

.notice-autowrite-material > p{
    line-height: normal;
    margin-bottom: 0;
}

#btn-notice-material{
    cursor: pointer;
}

.btn-active-notice-material{
    color: #3369e7;
}

.width-max{
    width: 100%;
}

/* Блок с уведомлениями */
.alert-success-custom{
    color: #fff;
    background-color: #00a550;
    border-color: #14c86b;
    position: fixed;
    right: 18px;
    width: 290px;
    z-index: 9999;
    top: 40px;
}

.alert-success-custom a{
    color: white;
}

.alert-success-custom button, .alert-danger-custom button, .alert-warning-custom button{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    position: absolute;
    right: 8px;
    top: 4px;
}

.alert-danger-custom{
    color: #fff;
    background-color: #fd5725;
    border-color: #ff0000;
    position: fixed;
    right: 18px;
    width: 290px;
    z-index: 9999;
    top: 40px;
}

.alert-warning-custom{
    color: #fff;
    background-color: #18a1d6;
    border-color: #00d2ca;
    position: fixed;
    right: 18px;
    width: 290px;
    z-index: 9999;
    top: 40px;
}

/* Блок с уведомлениями */
